@page "/"
@* @inject IJSRuntime JsRuntime *@
@* @rendermode InteractiveServer *@
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <div class="mermaid" id="mermaid"> *@
@*     journey *@
@*     title My working day *@
@*     section Go to work *@
@*     Make tea: 5: Me *@
@*     Go upstairs: 3: Me *@
@*     Do work: 1: Me, Cat *@
@*     section Go home *@
@*     Go downstairs: 5: Me *@
@*     Sit down: 5: Me *@
@* </div> *@

@* <div class="mermaid"> *@
@*     architecture-beta *@
@*     service left_disk(disk)[Disk] *@
@*     service top_disk(disk)[Disk] *@
@*     service bottom_disk(disk)[Disk] *@
@*     service top_gateway(internet)[Gateway] *@
@*     service bottom_gateway(internet)[Gateway] *@
@*     junction junctionCenter *@
@*     junction junctionRight *@
@* *@
@*     left_disk:R -- L:junctionCenter *@
@*     top_disk:B -- T:junctionCenter *@
@*     bottom_disk:T -- B:junctionCenter *@
@*     junctionCenter:R -- L:junctionRight *@
@*     top_gateway:B -- T:junctionRight *@
@*     bottom_gateway:T -- B:junctionRight *@
@* *@
@* </div> *@
@* <div class="mermaid"> *@
@*     graph LR *@
@*     subgraph Internet *@
@*     direction LR *@
@*     inet[🌐 Internet] *@
@*     end *@
@* *@
@*     subgraph LAN *@
@*     direction TB *@
@*     router[📶 Router<br/>192.168.1.1] *@
@*     switch1[🔀 Switch 1<br/>192.168.1.2] *@
@*     switch2[🔀 Switch 2<br/>192.168.1.3] *@
@*     PC1[💻 PC 1<br/>192.168.1.101] *@
@*     PC2[💻 PC 2<br/>192.168.1.102] *@
@*     PC3[💻 PC 3<br/>192.168.1.103] *@
@*     PC4[💻 PC 4<br/>192.168.1.104] *@
@*     server1[🖥️ Server 1<br/>192.168.1.201] *@
@*     server2[🖥️ Server 2<br/>192.168.1.202] *@
@*     end *@
@* *@
@*     inet -->|Port 0/1| router *@
@*     router -->|Port 1/1| switch1 *@
@* *@
@*     switch1 -->|Port 2/1| PC1 *@
@*     switch1 -->|Port 2/2| PC2 *@
@*     switch1 -->|Port 2/3| server1 *@
@* *@
@*     router -->|Port 1/2| switch2 *@
@*     switch2 -->|Port 3/1| PC3 *@
@*     switch2 -->|Port 3/2| PC4 *@
@*     switch2 -->|Port 3/3| server2 *@
@* </div> *@

<div class="mermaid">
    graph LR
    subgraph Internet
    direction LR
    inet[Internet]
    end

    subgraph LAN
    direction TB
    router[<img src="router.svg" width="80" height="80"/> Router<br/>192.168.1.1]
    switch1[Switch 1<br/>192.168.1.2]
    switch2[Switch 2<br/>192.168.1.3]
    PC1[PC 1<br/>192.168.1.101]
    PC2[PC 2<br/>192.168.1.102]
    PC3[PC 3<br/>192.168.1.103]
    PC4[PC 4<br/>192.168.1.104]
    server1[Server 1<br/>192.168.1.201]
    server2[Server 2<br/>192.168.1.202]
    end

    inet -->|Port 0/1| router
    router -->|Port 1/1| switch1
    switch1 -->|Port 2/1| PC1
    switch1 -->|Port 2/2| PC2
    switch1 -->|Port 2/3| server1
    router -->|Port 1/2| switch2
    switch2 -->|Port 3/1| PC3
    switch2 -->|Port 3/2| PC4
    switch2 -->|Port 3/3| server2
</div>

@* *@
@* *@
@* @code { *@
@*     // IJSObjectReference mermaidmodule; *@
@*     // protected override async Task OnAfterRenderAsync(bool firstRender) *@
@*     // { *@
@*     //     if(firstRender) *@
@*     //     { *@
@*     //         mermaidmodule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./modules/mermaidmodule.js"); *@
@*     //         await mermaidmodule.InvokeVoidAsync("Initialize"); *@
@*     //         await mermaidmodule.InvokeVoidAsync("Render", "mermaid"); *@
@*     //          *@
@*     //     } *@
@*     //     else *@
@*     //     { *@
@*     //         await mermaidmodule.InvokeVoidAsync("Render", "mermaid"); *@
@*     //          *@
@*     //     } *@
@*     // } *@
@* } *@
